.navbar li {
    display: inline-block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
  }
 
  .itemCenter{
    width: 100%
  }
  .navbar {
    background: salmon;
  }
  
  li {
    color: white;
  }
  
  body {
    font-size: 24px;
  }